<div class="container color dark">
  <div class="col">
    <p>Add new contact:</p>
  </div>
  <div class="col">
    <form>
      <input type="text" class="txt" name="firstname" placeholder="First Name"  [(ngModel)]="firstName">
      <input type="text" class="txt" name="lastname" placeholder="Last Name" [(ngModel)]="lastName">
      <br>
      <span>{{firstName}} {{lastName}}</span>
      <br>
      <input type="submit" class="btn" [value]="btnText" (click)="addContact()">
    </form>

  </div>
</div>

<ul>
  <li class="text" *ngFor="let contact of contacts | async">
    {{ contact.firstName }} {{ contact.lastName }}
</li>
</ul>

